.blog-post-card {
    margin: 10px 0;
}

.blog-post-card.alpha > a {
    background-color: var(--main-blue);
}
.blog-post-card.beta > a {
    background-color: var(--main-pink);
    /* background-color: var(--main-blue); */
}

.blog-post-card > a {
    border-radius: 10px;
    cursor: pointer;
    color: black !important;
    text-decoration: none;
    height: 100%;
    padding: 10px 10px;
    display: block;
}

.blog-post-card .title {
    font-size: 2rem;
}

.blog-post-card.alpha .date-posted {
    color: var(--main-pink);
}

.blog-post-card.beta .date-posted {
    color: var(--main-blue);
    /* color: var(--main-pink); */
}

/* .blog-post-card .blurb {

} */
