body {
    background-color: var(--light-blue);
    margin: 0;
}

main {
    width: calc(100vw - 20px);
    margin: 10px;
}

/* .blog-post-cards {
    display: flex;
    row-gap: 10px;
    column-gap: 10px;
} */
